.event-card {
  border-radius: 12px;
  padding: 16px;
  margin: auto;
  background-color: white;
  transition: transform 0.2s ease;
  width: 520px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  border: 1px solid red;
  box-shadow: 0 4px 12px rgba(0,0,0,0.8);

  overflow: hidden;
}

.event-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

.event-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.event-content {
  padding: 16px 20px;
  flex-direction: column;
  display: flex;
  gap: 0.5px;
  align-items: flex-start;
  text-align: left;
}

.event-card h3 {
  margin: 0 0 8px;
  font-size: 18px;
  color: #333;
}

.event-card p {
  margin: 4px 0;
  font-size: 14px;
  color: #555;
}

.event-card .event-desc {
  margin-top: 8px;
  font-size: 13px;
  color: #444;
}

/* Event Grid */
.event-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  gap: 16px;
  padding: 10px 45px;
  box-sizing: border-box;
  margin: 0;
  background-color: white;
}

.event-view-button {
  margin-top: auto; /* pushes button to bottom */
  align-self: flex-end; /* aligns to right */
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  background-color: #4B6FB3;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.event-view-button:hover {
  background-color: #3498db;
}